@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

/*Стили для header*/
.header-page {
  padding: 0 70px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.logo {
  width: 140px;
  margin-right: 30px;
}
.menu-list {
  width: 528px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-user {
  max-width: 306px;
  margin-left: auto;
  justify-content: end;
}

.menu-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.menu-user .menu-link {
  min-width: 18px;
  min-height: 18px;
}
.menu-link-search {
  background: url("../images/header/search.svg") no-repeat center center;
}
.menu-link-favorite {
  margin-right: 20px;
  background: url("../images/header/favorite.svg") no-repeat center center;
}

.butten {
  color: #ffffff;
  background-color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.butten-medium {
  display: block;
  padding: 8px 15px 9px 15px;
  border-radius: 5px;
}
.butten__brown {
  background-color: #756157;
}

/*стили для index-baner*/

.main-container {
  width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  background-color: #ffffff;
}
.index-baner {
  height: 485px;
  padding-top: 46px;
  background: url("../images/baner/icon/Vector.svg") bottom no-repeat,
    url("../images/baner/index-background.jpg") center / cover no-repeat, #333333;
  text-align: center;
}

/*стили для greetings*/
.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 282px;
  align-items: center;
  text-align: center;
  padding: 63px 270px 90px 270px;
}
.greetings-deescription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 31px 0;
  text-align: center;
}
.greetings-deescription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

/*Преимущества*/

.advantages-list {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages-item {
  max-height: 384px;
}

.grid-item-2 {
  grid-column: 2/4;
}
.grid-item-6 {
  grid-column: 1/3;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px 0;
}
.advantages-title__white {
  color: #ffffff;
}
.advantages-subtitle {
  color: #000000;
  margin: 0 0 30px 0;
}
.advantages-subtitle__white {
  color: #ffffff;
}
.advantages-text__white {
  color: #ffffff;
}
.advantages-text {
  margin: 0;
}
.advantages-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.grid-box-blue {
  padding: 92px 85px;
  background-color: #82b3d3;
}
.advantages-grid-house {
  width: 75px;
  height: 72px;
  background: url("../images/advantages/icon/hause.svg") no-repeat;
  margin: 0 0 30px 0;
}
.advantages-grid-food {
  width: 75px;
  height: 72px;
  background: url("../images/advantages/icon/burger.svg") no-repeat;
  margin: 0 0 30px 0;
}
.advantages-grid-souvenirs {
  width: 75px;
  height: 76px;
  background: url("../images/advantages/icon/souvenirs.svg") no-repeat;
  margin: 0 0 30px 0;
}
.grid-box-row2 {
  padding: 80px 85px 81px 85px;
}
.grid-box-gray1 {
  background: rgba(131, 179, 211, 0.12);
}
.grid-box-gray2 {
  background: rgba(131, 179, 211, 0.2);
}
.grid-box-row4 {
  padding: 103px 85px 102px 85px;
}

/*стили для блока поиск*/
.search {
  margin: 0;
  padding: 91px 304px 93px;
  text-align: center;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 0 29px 0;
}
.search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px 0;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

/*стили для блока рассылки*/
.newsletter {
  background: url("../images/background.jpg") center / cover no-repeat, #333333;
  text-align: center;
  margin: 0;
  padding: 94px 200px;
}
.newsletter-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 29px 0;
}
.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 46px 0;
}
.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.butten__blue {
  background-color: #82b3d3;
}

/* стили для подвала*/
.footer-page {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
}
.footer-social {
  max-width: 144px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/*стили для блока фильтров*/
.selection-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background-color: #333333;
}
.breadcrumbs-item {
  list-style-type: none;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #333333;
}

.catalog-filter-list {
  list-style-type: none;
}
.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
}
.butten-filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.butten-filter__blue {
  background-color: #82b3d3;
}
.butten-nidden {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

/*стили для блока каталог*/

.catalog-container {
  width: 1056px;
  margin: 0 auto;
}
.control-panel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.control-panel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.catalog-card {
  list-style-type: none;
  text-align: center;
}
.card-discription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/*стили для пагинации*/
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}
.pagination-current {
  color: #000000;
  background-color: #ffffff;
}
