@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

/*Стили для header*/
.header-page {
  padding: 0 70px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.logo {
  width: 140px;
  margin-right: 30px;
}
.menu-list {
  width: 528px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-user {
  max-width: 306px;
  margin-left: auto;
  justify-content: end;
}

.menu-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.menu-user .menu-link {
  min-width: 18px;
  min-height: 18px;
}
.menu-link-search {
  background: url("../images/header/search.svg") no-repeat center center;
}
.menu-link-favorite {
  position: relative;
  margin-right: 20px;
  background: url("../images/header/favorite.svg") no-repeat center center;
}
.menu-link-favorite::after {
  content: "12";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  right: -6px;
  padding-top: 3px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.button {
  color: #ffffff;
  background-color: #333333;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button-medium {
  display: block;
  padding: 8px 15px 9px 15px;
  border-radius: 5px;
}
.button__brown {
  background-color: #756157;
}

/*стили для index-baner*/

.main-container {
  width: 1200px;
  flex-grow: 1;
  margin: 0 auto;
  background-color: #ffffff;
}
.index-baner {
  padding: 46px 0 83px;
  background: url("../images/baner/icon/footer.svg") bottom no-repeat,
    url("../images/baner/index-background.jpg") center / cover no-repeat, #333333;
  text-align: center;
}

/*стили для greetings*/
.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 282px;
  align-items: center;
  text-align: center;
  padding: 63px 270px 90px 270px;
}
.greetings-deescription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 31px 0;
  text-align: center;
}
.greetings-deescription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

/*Преимущества*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages-item-2 {
  grid-column: 2/4;
}
.advantages-item-6 {
  grid-column: 1/3;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px 0;
}
.advantages-title__white {
  color: #ffffff;
}
.advantages-subtitle {
  color: #000000;
  margin: 0 0 30px 0;
}
.advantages-subtitle__white {
  color: #ffffff;
}
.advantages-text__white {
  color: #ffffff;
}
.advantages-text {
  margin: 0;
}
.advantages-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.advantages-icon {
  margin: 0 0 28px 0;
  width: 75px;
  height: 76px;
}
.advantages-house {
  background: url("../images/advantages/icon/hause.svg") no-repeat center center;
}
.advantages-food {
  background: url("../images/advantages/icon/burger.svg") no-repeat center center;
}
.advantages-grid-souvenirs {
  background: url("../images/advantages/icon/souvenirs.svg") no-repeat center center;
}
.advantages-blue {
  padding: 92px 85px;
  background-color: #82b3d3;
}
.advantages-row-2 {
  padding: 78px 85px 81px;
}
.advantages-row-4 {
  padding: 103px 85px 102px 85px;
}
.advantages-gray-1 {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-gray {
  background: rgba(131, 179, 211, 0.2);
}

/*стили для блока поиск*/
.search {
  margin: 0;
  padding: 91px 304px 93px;
  text-align: center;
}
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 0 29px 0;
}
.search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px 0;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

/*стили для блока рассылки*/
.newsletter {
  text-align: center;
  margin: 0;
  padding: 94px 200px;
  color: #000000;
  background-color: #ffffff;
}
.newsletter-image {
  color: #ffffff;
  background: url("../images/background.jpg") center / cover no-repeat, #333333;
}
.newsletter-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}
.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 46px 0;
}
.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.button__blue {
  background-color: #82b3d3;
}

/* стили для подвала*/
.footer-page {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 45px 70px 35px;
  background-color: #ffffff;
}
.footer-social {
  max-width: 144px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/*стили для блока фильтров*/
.selection {
  margin: 0;
  padding: 35px 70px 70px;
  background: url("../images/catalog/catalog-bg.jpg") center / cover no-repeat, #333333;
}
.selection-container {
  width: 1060px;
}
.selection-title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  margin: 0 0 40px 0;
}
.breadcrumbs-item {
  list-style-type: none;
}
.catalog-filter {
  display: flex;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter-container {
  display: flex;
  align-items: center;
}
.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.catalog-filter-group {
  margin-right: 70px;
  padding: 0;
}
.catalog-filter-group:last-child {
  margin: 0;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-filter-item {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter-item:last-child {
  margin-bottom: 0;
}
.catalog-filter-button {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.button-filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.button-filter__blue {
  background-color: #82b3d3;
}
.button-nidden {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
}

/*стили для блока каталог*/

.catalog-container {
  width: 1056px;
  margin: 0 auto;
  padding-top: 50px;
}
.catalog-control-panel {
  display: flex;
}
.control-panel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.control-panel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.select-control {
  margin-left: auto;
}
.select-view {
  display: flex;
  margin: 0 0 0 78px;
  padding: 0;
  list-style-type: none;
}
.select-view-item {
  margin-right: 8px;
}
.select-view-item:last-child {
  margin-right: 0;
}
.select-view-item .button {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin-bottom: 0;
  padding: 0;
  column-gap: 18px;
}
.catalog-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 66px;
  list-style-type: none;
}

.card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 16px 0;
  gap: 20px;
}
.card-item:last-child {
  margin: 0;
}
.card-image {
  grid-column: 1 / 3;
}
.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 16px 0;
  grid-column: 1 / 3;
}
.card-subtitle {
  margin: 0;
}
.card-price {
  margin: 0;
}

/*стили для пагинации*/
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item {
  margin-right: 8px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-control {
  display: flex;
  width: 386px;
  justify-content: space-between;
}
