@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.visually-hidden {
  visibility: hidden;
}
.header-page {
  color: #000000;
  background-color: #ffffff;
}
.menu-item {
  list-style-type: none;
}
.menu-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.butten {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.butten__brown {
  background-color: #756157;
}
